input.ng-invalid.ng-dirty {
    border-bottom-color: red !important;
    box-shadow: 0 1px 0 0 red !important;
}

@media only screen and (max-width:400px) {
    mat-form-field {
        width: 15rem !important;
    }
}

@media only screen and (min-width:400px) {
    mat-form-field {
        width: 44rem !important;
    }
}